<!DOCTYPE html>
<html>
  <head>
    <title>Best Search Engine</title>
  <style type="text/css">
  @import url("../static/home.css");
  
  </style>
  </head>
  <body>
  <img src="/static/home.jpg"  class="backgroundimg"/>
  <div class="bar1" >
  <h1 class="font">Best Search </h1>
    <form action="/search" method="get">
      <input type="text" id="keywords" placeholder="Please enter the keywords" name="keywords" class= "bar2">
      <input type="submit" value="Search" class="button">
      <div class="buttloc">
      <input type="radio" id = "1" name="system" value="system1"><label for="1" class="font1">system1</label>
      <input type="radio" id = "2" name="system" value="system2"><label for="2" class="font1">system2</label>
      <input type="radio" id = "3" name="system" value="system3"><label for="3" class="font1">system3</label>
      </div>
    </form>
		</div>
    <p class="bottfont">Best Book Search Engine In LZU</p>
  </body>
</html>